body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, pre, form, fieldset, legend, button, input, textarea, th{margin:0;padding:0;font-size:12px;}
li{margin:0;padding:0;font-size:16px;}
td{margin:0;padding:0;font-size:14px;}
html 
{
    overflow:hidden;
}
#pageloading{position:absolute; left:0px; top:0px; background:#FFFFFF url('/Content/JeasyUI/themes/icons/loading.gif') no-repeat center center; width:100%; height:100%; _height:800px; z-index:99999;}

.jloading{ position:absolute; right:0; top:0; padding:4px; color:White; background:#6287AC; z-index:99999; border-left:1px solid #53779D; border-bottom:1px solid #53779D;filter:alpha(opacity=70);opacity:0.70;}

.line {margin:0; padding:0; border-bottom:1px solid #ddd;}
.h5 {height:5px;}
.h10 {height:10px;}
.h15 {height:15px;}
.h20 {height:20px;}
.h25 {height:25px;}
.h30 {height:30px;}

.w100 {width:100px;}
.w120 {width:120px;}
.w150 {width:150px;}
.w200 {width:200px;}
.w250 {width:250px;}
.w300 {width:300px;}

iframe {margin:0;padding:0; border:none;}

/*input[type="password"] {
    border: 1px solid #95B8E7;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="text"] {
    border: 1px solid #95B8E7;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}*/

.textbox {
    height: 20px;
    margin: 0;
    padding: 0 2px;
    box-sizing: content-box;
}


/*遮罩*/
.loadmask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
    background: #c3daf9;
    padding:2px;
}
.loadmask-msg div {
    padding:5px 10px 5px 25px;
    background: #fbfbfb url('/Content/JeasyUI/themes/icons/layout/loading.gif') no-repeat 5px 5px;
    line-height: 16px;
	border:1px solid #a3bad9;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}